.container {

    .name{
        line-height: 1.4em;
        margin: .5em 0;
    }

    h2 {
        color: #F5B31E;
        margin: 0;
        margin-bottom: .5em;
        font-size: 1.5rem;
    }

    h4 {
        margin: .5em 0;
    }
    
    a {
        color: #333;
        text-decoration: underline;
    }

    p {
        color: #333;
        line-height: 1.6em;
        margin-bottom: 4em;
    }

    .link {
        a{
            color: #333;
            text-decoration: underline;
            border: none;
        }

        a:hover {
            color: #F5B31E;
        }
        
    }

    .small{
        margin-bottom: 2em;
    }

    .big{
        margin-bottom: 6em;
    }

    a:hover {
        color: #F5B31E;
    }

    ul {
        padding: 0;
        padding-left: 1em;
        margin: 0;
        margin-bottom: 3rem;
        border-left: 3px solid #F5B31E;


        li {
            list-style: none;
            line-height: 1.6em
        }
    }

    hr{
        border: none;
        padding: 2em 0;
    }

    span {
        color: #F5B31E;
    }
}

.work {
    ul {
        margin-bottom: 1.5em;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    h3 {
        margin: 4em 0 0 0;
    }

    span {
        display: inline-block;
        color: #F5B31E;
        font-weight: 600;
        font-size: .9em;
        margin: .3em 0;
    }
}

.highlight {
    font-size: 1.4rem !important;
    position: relative;
    color: #333 !important;
    font-weight: bold;
    display: inline-block;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      height: 12px;
      width: 105%;
      bottom: 5px;
      background-color: #F5B31E;
      opacity: .25;
      left: 0;
    }
}
